
{{#each practices as |practice|}}
  {{log practice}}

  <div>
    <h1 data-id="{{practice.id}}"> <small>Duration: {{practice.duration}}</small></h1>
      Date: {{practice.date}}
  </div>

{{/each}}
