@import '~bootstrap/scss/bootstrap';

h1,p {
  text-align: center;
}

p {

}

body {
  height: 100%;
}

.hidden {
  display: none;
}

.forms {
  min-height: 80px;
}

.container {
  height: 100%;
}

.practices {
  border: 2px black solid;
  height: 300px;
  overflow: scroll;
}

.practice_sections {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.remove_button {
  border: 1px solid black;
  font-size: 12px;
  height: 40px;
  width: 200px;
  color: red;
}

.goal_display {
  width: 300px;
  margin: 20px;
}

.progress_dash {
  border: 2px solid black;
  margin: 20px;
  padding: 40px;
  width: 700px;
  text-align: center;
}

.goal_daily,
.goal_weekly,
.goal_monthly {
  width: 200px;
  display: inline-block;
}
