@import '~bootstrap/scss/bootstrap';

.hidden {
  display: none;
}

.display-message {
  text-align: center;
}

.btn {
  border: 1px solid black;
}

.navbar {
  align-content: center;
}

.about-links {
  bottom: 0;
}

.display-gap {
  height: 25px;
}

.main-nav, .practice_header {
  background-color: #777777;
  border-bottom: 1px solid #546684;
}

.about {
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

.nav-buttons,
.signed-in-btns {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sign_out_btn {
  border-right: 2px solid black;
}

.description {
  border-right: 1px solid #777777;
}

.links {
  display: flex;
  padding: 5px;
}

.progress_dash {
  border-radius: 5px;
  border: 2px solid #2a4268;
  padding: 15px;
  background: #fcf9ff;
}

.progress_block {
  background: #013a4f;
  border: 2px solid white;
  border-radius: 12px;
  color: #edf4ff;
}

.refresh_progress_btn {
  text-align: center;
}

.refresh {
  border: 1px black solid;
}

.p_header {
  margin-top: 40px;
}

.practice_display {
  background: #777777;
  border: 2px solid black;
  height: 350px;
  overflow: scroll;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.practice_sections {
  border-top: 2px solid black;
}

.shape {
  height: 100px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  -moz-transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
}

.remove_button {
  border: 1px solid black;
  font-size: 12px;
  height: 40px;
  width: 200px;
  color: red;
}

footer {
  position: fixed;
}

@media only screen and (max-width: 600px) {
    h4 {
        font-size: 15px;
    }
}
