@import '~bootstrap/scss/bootstrap';

body {
  height: 100%;
}

.hidden {
  display: none;
}

.forms {
  min-height: 80px;
}

.container {
  height: 100%;
}

.practices {
  border: 2px black solid;
  height: 500px;
  overflow: scroll;
}
