@import '~bootstrap/scss/bootstrap';

p {
  font-family: 'Roboto', sans-serif;
}

h1,p {
  font-family: 'Roboto', sans-serif;
}

.btn {
  border: 1px solid black;
  justify-content: center;
  // height: 60px;
  // width: 125px;
}

// .header_buttons {
//   margin-right: 5px;
// }

body {
  height: 100%;
  background: #fcfcfc;
}

header {
  height: 80px;
  width: 100%;
  // justify-content: space-between;
  margin-bottom: 2px;
  margin-top: 2px;
}
// #sign-in-btn,
// #sign-up-btn,
// #change-password-btn,
// #sign-out-form {
//   width: 100px;
//   height: 60px;
// }

.auth_btns {
  height: 100%;
}

.musical_notes {
  display: inline-flex;
  justify-content: space-around;
  height: 200px;
  border-bottom: 2px solid black
}

.musical_notes img {
  width: 70%;
  display: inline-flex;
}

.musical_notes p {
  margin: auto;
}

.description {
  display: flex;
  background-color: #f2df9d;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  text-align: center;
}

.cork_div {
  display: flex;
  justify-content: center;
}

.cork_div img {
  width: 60%;
  height: 60%;
  display: inline-flex;
  border: 2px black solid;
}

.hidden {
  display: none;
}

.forms {
  min-height: 80px;
}

.container {
  height: 100%;
  width: 85%;
}

.practice_header {
  margin-right: 15px;
}

.practices {
  border: 2px black solid;
  height: 300px;
  overflow: scroll;
}

.practice_sections {
  border-top: 2px solid black;
}

.practice_display {
  background: #bed9e5;
  padding: 10px;
}

.remove_button {
  border: 1px solid black;
  font-size: 12px;
  height: 40px;
  width: 200px;
  color: red;
}

.goal_display {
  width: 300px;
  margin: 20px;
}

.progress_dash {
  border: 2px solid black;
  margin: 20px;
  padding: 40px;
  text-align: center;
}

.progress_labels {
  display: flex;
  justify-content: space-around;

}

.goal_daily,
.goal_weekly,
.goal_monthly {
  width: 25%;
  display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hover_practice {
  border: 1px solid black;
  color: white;
  background: #63a9cc;
  padding: 4px;
  text-align: center;
}

.refresh_progress_btn, display_progress_btn {
  text-align: center;
}

.footer {
  margin-top: 10px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  background: #63a9cc;
  align-items: center;
  padding: 5px;
  color: white;
}

.footer p {
  align-self: flex-start;
}
.created {
  right: 0;
}

.linkedin {
  left: 0;
  color: white;
  text-decoration: underline;
}

.github {
  color: white;
  margin-left: 9px;
  text-decoration: underline;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .musical_notes, .class-div {
      display: none;
    }
    header {
      margin-bottom: 15px;
    }
    h1, h2 {
      font-size: 20px;
    }
    footer {
      font-size: 12px;
      justify-content: center;
    }
    .signed_in, .signed_out {
      justify-content: center;
    }
}
