@import '~bootstrap/scss/bootstrap';

p {
  font-family: 'Roboto', sans-serif;
}

h1,p {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  background: #fcfcfc;
}
header {
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
  margin-top: 2px;
}
#sign-in-btn,
#sign-up-btn,
#change-password-btn,
#sign-out-form {
  width: 100px;
  height: 60px;
}

.musical_notes {
  display: inline-flex;
  justify-content: space-around;
  height: 200px;
  border-bottom: 2px solid black
}

.musical_notes img {
  width: 70%;
  display: inline-flex;
}

.musical_notes p {
  margin: auto;
}

.description {
  display: flex;
  background-color: #f2df9d;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  text-align: center;
}

.cork_div {
  display: flex;
  justify-content: center;
}

.cork_div img {
  width: 60%;
  height: 60%;
  display: inline-flex;
}

.hidden {
  display: none;
}

.forms {
  min-height: 80px;
}

.container {
  height: 100%;
  width: 800px;
}

.practices {
  border: 2px black solid;
  height: 300px;
  overflow: scroll;
}

.practice_sections {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.remove_button {
  border: 1px solid black;
  font-size: 12px;
  height: 40px;
  width: 200px;
  color: red;
}

.goal_display {
  width: 300px;
  margin: 20px;
}

.progress_dash {
  border: 2px solid black;
  margin: 20px;
  padding: 40px;
  text-align: center;
}

.progress_labels {
  display: flex;
  justify-content: space-around;

}

.goal_daily,
.goal_weekly,
.goal_monthly {
  width: 25%;
  display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hover_practice {
  border: 1px solid black;
  color: white;
  background: #63a9cc;
  padding: 4px;
  text-align: center;
}

.refresh_progress_btn, display_progress_btn {
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
}
.created {
  right: 0;
}

.linkedin {
  left: 0;
}
